@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: antiquewhite;
}

.buttonDiv {
    display: flex;
    justify-content: center; 
    background-color: chocolate;
    padding: 20px; 
    margin-top: 0px;
}

/* Buttons */ 

#lightMode {
    padding: 10px; 
    background-color: antiquewhite;
    border-radius: 10px;
}

#darkMode {
    padding: 10px; 
    background-color: rgb(84, 42, 12);
    border-radius: 10px;
    color: white;
}
h1 {
    font-family: "Amatic SC";
    color: chocolate; 
    font-size: 5em;
    text-align: center;
}

h2 {
    font-family: "Poppins";
    color: chocolate;
}

fieldset {
    font-family: "Poppins";
    color:rgb(96, 25, 25);
    border: 3px solid white;
}
